<a href="https://colab.research.google.com/github/andrecody/TesteComPage/blob/main/Iniciando.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
b = int(input("Informe um numero"))

Informe um numero4

In [3]:
b = int(input("Informe um numero"))

Informe um numero4.5

ValueError: ignored

In [2]:
print(b)

4

In [4]:
b = int(float("Informe um numero"))

ValueError: ignored

In [5]:
a = "mackenzie"
a.capitalize()

'Mackenzie'

In [7]:
a = "python versão 2.0"
a.isalnum()

False

In [8]:
s = "python"
s[2:4]

'th'

In [9]:
L = [3 , "fusca" , 8.1 , [4 , 6 , 8] , "Python" , (3 , "W")]

In [10]:
print(L[3][1])

6

In [11]:
print (L[0])
print(L[3][1])

3
6

In [13]:
D={"arroz": 17.30, "feijão":12.50,"carne":23.90,"alface":3.40}

print(D)

{'arroz': 17.3, 'feijão': 12.5, 'carne': 23.9, 'alface': 3.4}

In [14]:
print(D["carne"])
print(D[“arroz"])
print(D[“abacaxi"])

SyntaxError: ignored

In [20]:
D={"Salgado": 4.50, "lanche":6.50,"suco":23.90,"refrigerante":3.50, "doce": 1.00}
print(D)
print(D.keys())
print(D.values)
print(str(sum(D.values())))
print(max(D.values()))
print(min(D.values()))
print(max(D.values())-min(D.values()))
print(D.items)

{'Salgado': 4.5, 'lanche': 6.5, 'suco': 23.9, 'refrigerante': 3.5, 'doce': 1.0}
dict_keys(['Salgado', 'lanche', 'suco', 'refrigerante', 'doce'])
<built-in method values of dict object at 0x7fb64e7b96e0>
39.4
23.9
1.0
22.9
<built-in method items of dict object at 0x7fb64e7b96e0>

In [25]:
a = 10
b = 15
if a>b:
  print("A é maior que B")
else:
  print("B é maior que A")

B é maior que A

In [27]:
senhagravada = "eujoaquim"
senhalida =" "
while (senhalida != senhagravada):
  senhalida = input("Digite a senha: ")
if senhalida == senhagravada :
  print('Acesso liberado ')
else:
  print('Senha incorreta. Tente novamente')

Digite a senha: asas
Digite a senha: eujoaquim
Acesso liberado

In [29]:
# Usada como acumulador
S=0
for x in range(0,50,2):
  print('Elemento: ',x)
  S = S+x
print('Soma = ',S)
# Usada como acumulador
S=0
for x in range(1,50,2):
  print('Elemento: ',x)
  S = S+x
print('Soma = ',S)

Elemento:  0
Elemento:  2
Elemento:  4
Elemento:  6
Elemento:  8
Elemento:  10
Elemento:  12
Elemento:  14
Elemento:  16
Elemento:  18
Elemento:  20
Elemento:  22
Elemento:  24
Elemento:  26
Elemento:  28
Elemento:  30
Elemento:  32
Elemento:  34
Elemento:  36
Elemento:  38
Elemento:  40
Elemento:  42
Elemento:  44
Elemento:  46
Elemento:  48
Soma =  600
Elemento:  1
Elemento:  3
Elemento:  5
Elemento:  7
Elemento:  9
Elemento:  11
Elemento:  13
Elemento:  15
Elemento:  17
Elemento:  19
Elemento:  21
Elemento:  23
Elemento:  25
Elemento:  27
Elemento:  29
Elemento:  31
Elemento:  33
Elemento:  35
Elemento:  37
Elemento:  39
Elemento:  41
Elemento:  43
Elemento:  45
Elemento:  47
Elemento:  49
Soma =  625

In [32]:
# Lista ou Colecao de notas
notas= [2.5,9.8,8,9,10,9.5,8.4,4.3]
# Acumulador
soma=0
for nota in notas:
  print("Nota lida ",nota)
  soma = soma+nota
  media = soma/len(notas)
print('Media = ', media)

Nota lida  2.5
Nota lida  9.8
Nota lida  8
Nota lida  9
Nota lida  10
Nota lida  9.5
Nota lida  8.4
Nota lida  4.3
Media =  7.687499999999999

In [34]:
def saudacao():
  print("Ola Mundo")

def saudacaoparametro(nome):
  print(nome)


saudacao()
saudacaoparametro("Olá Turma")

nome=input("Informe o nome")

saudacaoparametro(nome)

Ola Mundo
Olá Turma
Informe o nomeCarlos
Carlos

In [38]:
def maior(x,y):
  if x>y:
    print(x)
  else:
    print(y)
maior(78,52)

78

In [41]:
import os
print(os.name)
print(os.curdir)
#print(os.ev)

posix
.

In [43]:
import csv
# Dados
dt = (('temperatura', 15.0, 'C', '10:40', '2006-12-31'),
('peso', 42.5, 'kg', '10:45', '2006-12-31'))
# A escrita recebe um objeto do tipo "file"
out = csv.writer(open('dt.csv', 'w'))
# Escrevendo as tuplas no arquivo
out.writerows(dt)
print("Operacao concluida")

Operacao concluida
(('temperatura', 15.0, 'C', '10:40', '2006-12-31'), ('peso', 42.5, 'kg', '10:45', '2006-12-31'))